@charset "UTF-8";
@charset "UTF-8";
::-webkit-scrollbar {width: 18px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}


@media ( max-width : 1023px) {
   #slide01_1, #slide02_1, #slide03_1, #slide04_1, #slide05_1, #MD01_1,
      #MD02_1, #MD03_1, #MD04_1, #MD05_1, #MD06_1, #MD07_1, #MD08_1, #MD09_1
      {
      display: block;
   }
   #slide01, #slide02, #slide03, #slide04, #slide05, #MD01, #MD02, #MD03,
      #MD04, #MD05, #MD06, #MD07, #MD08, #MD09 {
      display: none;
   }
   #home {
      padding-top: 75px;
   }
   #bottom-banner[data-v-75a55e4e] {
      background-image: url(../images/footer_banner_mobile.png);
      background-size: cover;
      height: 32vw;
   }
   
   .header__logo a[data-v-7aa1f9b4] {
	    height : 31px;
	}
}

@media ( min-width :1024px) {
   #slide01_1, #slide02_1, #slide03_1, #slide04_1, #slide05_1, #MD01_1,
      #MD02_1, #MD03_1, #MD04_1, #MD05_1, #MD06_1, #MD07_1, #MD08_1, #MD09_1
      {
      display: none;
   }
   #slide01, #slide02, #slide03, #slide04, #slide05, #MD01, #MD02, #MD03,
      #MD04, #MD05, #MD06, #MD07, #MD08, #MD09 {
      display: block;
   }
   #home {
      padding-top: 182px;
   }
   #bottom-banner[data-v-75a55e4e] {
      height: 240px;
      max-width: 1200px;
      margin: 0 auto;
      background-image: url(../images/footer_banner.png);
   }
   #sa03, #sa04 {
      width: 400px;
   }
   .header__top-right>*[data-v-30697495] {
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-left: 8px;
    padding-left: 11px;
    height: 16px;
    line-height: 15px;
    border-left: 1px solid #d5e0db;
    cursor: pointer;
	}
	
	.header__logo a[data-v-7aa1f9b4] {
	    height : 50px;
	}
	
	.header__menus .dropdown[data-v-7aa1f9b4]:hover {
	    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/Logo/Icon_list_green.png);
	}
	
	.header__menus .dropdown[data-v-7aa1f9b4] {
	    height : 100%;
	    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/Logo/Icon_list_black.png);
	    background-repeat : no-repeat;
	    background-position : 0;
	    background-size : 25px;
	    padding-left : 30px;
	}
	
	.header__menus-side .item .icon-order[data-v-7aa1f9b4] {
	    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/Logo/icon_pay.PNG);
	}
}

.empty[data-v-7aa1f9b4] {
    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/Logo/icon_baguni.PNG);
}

.header__logo a[data-v-7aa1f9b4] {
    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/banner/logo.PNG);
}

.customGPlusSignIn{
	align-items: center;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 13px;
    height: 44px;
    margin: 8px 0;
    background: #f9df33;
    border: 1px solid transparent;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    outline: none;
    width: 100%;
    position: relative;
}

 #customBtn {
      background: white;
      color: #444;
      width: 100%;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }

.apple-login-custom-btn[data-v-d3dff3a6]{
	cursor: pointer;
}

.button.signup__register-btn {
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
}

#login-gtm-normal, #login-gtm-kakao {
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
}

.container{
	padding-top : 150px;
}

del {
   font-size: 16px;
   color: #ddd;
   margin-left: 8px;
   text-decoration: line-through;
}

.carousel-control {
   height: 370px;
}

#a1, #a4, #a7 {
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}

#a2, #a5, #a8 {
   padding-left: 9px;
   position: relative;
}

#a3, #a6, #a9 {
   padding-left: 19px;
   position: relative;
}
.footer--logo {
   width: 140px;
}