<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="project.spring.web.my_review_write.MyReviewWriteVO" alias="myreview" />
		<typeAlias type="project.spring.web.tapPage.TapPageVO" alias="mytap" />
		<typeAlias type="project.spring.web.tag.TagVO" alias="mytag" />
		<typeAlias type="project.spring.web.detail.DetailVO" alias="mydetail" />
		<typeAlias type="project.spring.web.basket.BasketVO" alias="mybasket" />
		<typeAlias type="project.spring.web.mapping.MappingVO" alias="mymapping" />
		<typeAlias type="project.spring.web.member.MemberVO" alias="mymember" />
		<typeAlias type="project.spring.web.event.CouponVO" alias="mycoupon"/>
		<typeAlias type="project.spring.web.search.SearchVO" alias="mysearch"/>
		<typeAlias type="project.spring.web.md_recommand.MdRecommandVO" alias="mymd"/>
		<typeAlias type="project.spring.web.modal.ModalVO" alias="modal"/>
		<typeAlias type="project.spring.web.member_zipcode.MemberZipcodeVO" alias="myzipcode"/>
		<typeAlias type="project.spring.web.paymentSingle.PaymentSingleCouponInfoVO" alias="myPaymentCoupon"/>
		<typeAlias type="project.spring.web.adminLogin.AdminLoginVO" alias="adminLogin"/>
		<typeAlias type="project.spring.web.paymentComplete.PaymentMyDetailSideInfoVO" alias="paymentDetailSide"/>
		<typeAlias type="project.spring.web.paymentComplete.PaymentMyDetailInfoVO" alias="paymentDetail"/>
		<typeAlias type="project.spring.web.admin_order_management.AdminOrderVO" alias="adminOrder"/>
		<typeAlias type="project.spring.web.admin_main_chart.AdminMainChartVO" alias="adminMainChart"/>
		<typeAlias type="project.spring.web.admin_banner_management.AdminBannerManagementVO" alias="myBanner" />
		<typeAlias type="project.spring.web.paymentComplete.PaymentCompletePointVO" alias="myPoint" />
		<typeAlias type="project.spring.web.adminMemberManagement.AdminMemberManagementVO" alias="myAdminMember" />
		<typeAlias type="project.spring.web.admin_item.AdminItemVO" alias="adminItem" />
		<typeAlias type="project.spring.web.admin_item.AdminSubVO" alias="adminSub" />
		<typeAlias type="project.spring.web.admin_main.report.day.AdminReportDayVO" alias="adminMainReportDay"/>
		<typeAlias type="project.spring.web.admin_order_management.AdminOrderInfoVO" alias="adminOrderInfo"/>
		<typeAlias type="project.spring.web.admin_item.AdminItemInfoVO" alias="adminItemInfo"/>
		<typeAlias type="project.spring.web.admin_main_rank.AdminMainRankVO" alias="adminRank"/>
		<typeAlias type="project.spring.web.admin_main_rank.AdminMainRankVO" alias="adminRank"/>
		<typeAlias type="project.spring.web.point_history.PointHistoryVO" alias="pointHistory"/>
		<typeAlias type="project.spring.web.admin_review.AdminReviewVO" alias="adminReview"/>
		<typeAlias type="project.spring.web.admin_statistics.AdminStatisticsVO" alias="adminStatistics"/>
		<typeAlias type="project.spring.web.admin_statisticsDetail.AdminStatisticsDetailVO" alias="adminStatisticsDetail"/>
		<typeAlias type="project.spring.web.my_review_write.MyReviewWriteVO" alias="myReview"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/review-mapping.xml" />
		<mapper resource="mappings/tap-mapping.xml" />
		<mapper resource="mappings/tag-mapping.xml" />
		<mapper resource="mappings/detail-mapping.xml" />
		<mapper resource="mappings/basket-mapping.xml" />
		<mapper resource="mappings/map-mapping.xml" />
		<mapper resource="mappings/member-mapping.xml" />
		<mapper resource="mappings/order-mapping.xml"/>
		<mapper resource="mappings/coupon-mapping.xml"/>
		<mapper resource="mappings/search-mapping.xml"/>
		<mapper resource="mappings/md-mapping.xml"/>
		<mapper resource="mappings/modal-mapping.xml" />
		<mapper resource="mappings/zipcode-mapping.xml" />
		<mapper resource="mappings/payment-mapping.xml" />
		<mapper resource="mappings/adminLogin-mapping.xml"/>
		<mapper resource="mappings/adminOrder-mapping.xml"/>
		<mapper resource="mappings/adminMainChart-mapping.xml"/>
		<mapper resource="mappings/adminBannerManagement-mapping.xml"/>
		<mapper resource="mappings/adminMemberManagement-mapping.xml"/>
		<mapper resource="mappings/adminItem-mapping.xml"/>
		<mapper resource="mappings/adminMainReportDay-mapping.xml"/>
		<mapper resource="mappings/adminMainRank-mapping.xml"/>
		<mapper resource="mappings/pointHistory-mapping.xml"/>
		<mapper resource="mappings/adminReview-mapping.xml"/>
		<mapper resource="mappings/adminStatistics-mapping.xml"/>
		<mapper resource="mappings/adminStatisticsDetail-mapping.xml"/>
	</mappers>
</configuration>