@charset "UTF-8";

@media ( max-width : 1023px) {
	 .container {
      padding-top: 91px;
   }
}

@media ( min-width :1024px) {
	.container {
      padding-top: 182px;
   }
   
   .category-tab .category-tab-content00>div[data-v-0ca25db4] {
	    white-space: nowrap;
	    cursor: pointer;
	}
	
	.category-tab .category-tab-content00[data-v-0ca25db4] {
	    display: flex;
	    flex-wrap: nowrap;
	    align-items: center;
	    justify-content: flex-start;
	    min-width: auto;
	}
}

.category-tab .category-tab-content00[data-v-0ca25db4] {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    overflow-x: auto;
}

.category-tab .category-tab-content00>div[data-v-0ca25db4] {
    border: 1px solid #35ad73;
    color: #35ad73;
    background-color: #fff;
    min-width: 76px;
    height: 36px;
    border-radius: 2px;
    padding: 0 16px;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    margin-right: 8px;
    box-sizing: border-box;
}

.category-tab .category-tab-content00 .active-category00[data-v-0ca25db4] {
    border: 1px solid #35ad73!important;
    background-color: #35ad73;
    color: #fff;
    font-weight: 500;
}

.item__body .info-wrap .star-info[data-v-15082832] {
    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/banner/starinfo.PNG);
    margin-right: 4px;
}

.item__body .info-wrap .review-info[data-v-15082832] {
    background-image: url(https://saladits3.s3.ap-northeast-2.amazonaws.com/banner/reviewinfo.PNG);
}

b{
    color: #35ad73;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    font-family: Roboto,sans-serif;
    margin-right: 1px;
}

.item__body .options>dl dd span[data-v-15082832] {
    text-decoration: line-through;
    font-size: 12px;
    font-weight: 700;
    color: #ddd;
    margin-left: 5px;
}